

body {
    font-family: cursive;
}



h1 {
    font-size: 3em;
    color: #7868e6;
}
h2 {
    font-size: 2em;
    color: #e4fbff;
}

a:hover {
    color: orange;
}

body {
    background-color: #e4fbff
}


nav {
    background-color: #b8b5ff;
}
nav a {
    color: #e4fbff;
    padding: 10px;
    margin-bottom: 30px;
}

nav a:hover {
    background-color: #7868e6;
}

.footer-quote {
    float: right;
    margin-left: 10px;
    color: #7868e6;
}
.block-1 {
    display: flex;
    background-color: #7868e6;
    border: 5px solid #b8b5ff;
    border-radius: 1em;
    margin: 5px;
    padding: 20px;
}

.address {
    flex: 1;
    color: #e4fbff;
}

.social-media {
    flex: 1;
    color: #e4fbff;
}


.block-2 {
    display: flex;
    background-color: #7868e6;
    border: 5px solid #b8b5ff;
    border-radius: 1em;
    margin: 5px;
    padding: 20px;
}
.contact-form, .google-map-embed {
    padding: 20px;
    margin: 10px;
    color: #e4fbff;
}

.contact-form {
    flex: 1;
    color: #e4fbff;

}



.google-map-embed {
    flex: 2;
}